@page "/clientes/ultimos-testes"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using LoginFrontEnd.Providers
@using System.Net.Http
@using System.Net.Http.Json
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CustomHttpClientProvider CustomHttpClientProvider

@attribute [Authorize]
<div class="container mt-5">
	<h1 class="text-center">Clientes</h1>
	<h3>Ultimos testes</h3>
	@if (clientes != null)
	{
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th>Login</th>
					<th>Senha</th>
					<th>Criado</th>
					<th>Celular</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var cliente in clientes)
				{
					<tr>
						<td>@cliente.Login</td>
						<td>@cliente.Senha</td>
						<td>@cliente.AdicionadoDate</td>
						<td>@cliente.Celular</td>
						<td>@cliente.Email</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>

@code {
	private string? token { get; set; } = "";
	private string? userName { get; set; } = "";
	private List<Teste>? testes { get; set; }
	private List<FastClient>? fastClients { get; set; }
	private List<Cliente>? clientes { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		token = user.FindFirst("Token")?.Value;
		userName = user.FindFirst(ClaimTypes.Name)?.Value;

		if (!string.IsNullOrEmpty(token))
		{
			// Verificar se o cabeçalho já possui o cabeçalho "xc-token"
			if (!CustomHttpClientProvider.DefaultRequestHeaders.Contains("xc-token"))
			{
				CustomHttpClientProvider.DefaultRequestHeaders.Add("xc-token", token);
			}

			var fastClientesResponse = await CustomHttpClientProvider.GetFromJsonAsync<List<FastClientResponse>>("https://bypass.ehtudo.app/https://eh-tudo-n8n.aiyfgd.easypanel.host/webhook/iptv-backend/v1/listar-clientes");
			fastClients = fastClientesResponse?.FirstOrDefault()?.data;

			var testesResponse = await CustomHttpClientProvider.GetFromJsonAsync<TestesResponse>("https://bypass.ehtudo.app/https://eh-tudo-nocodb.aiyfgd.easypanel.host/api/v2/tables/mkdo3202f4rv75a/records?limit=1000");
			List<Teste> testes = testesResponse.list;

			// Convertendo a lista de Teste para Cliente
			clientes = testes.Select(t => new Cliente(t)).ToList();

			//invertendo a lista de clientes pela data de adição
			clientes = clientes.OrderByDescending(c => c.AdicionadoDate).ToList();

			//pegando os clientes dos ultimos 7 dias
			clientes = clientes.Where(c => c.AdicionadoDate >= DateTime.Now.AddDays(-7)).ToList();
		}
	}

	public class FastClientResponse
	{
		public int statusCode { get; set; }
		public bool result { get; set; }
		public List<FastClient>? data { get; set; }
		public int totalClients { get; set; }
		public int totalPages { get; set; }
	}

	public class FastClient
	{
		public int id { get; set; }
		public int member_id { get; set; }
		public string username { get; set; }
		public string password { get; set; }
		public long exp_date { get; set; }
		public int admin_enabled { get; set; }
		public int enabled { get; set; }
		public string admin_notes { get; set; }
		public string reseller_notes { get; set; }
		public string bouquet { get; set; }
		public int max_connections { get; set; }
		public int is_trial { get; set; }
		public long created_at { get; set; }
	}

	public class TestesResponse
	{
		public List<Teste> list { get; set; }
		public PageInfo pageInfo { get; set; }
	}
	public class Teste
	{
		public int id { get; set; }
		public string Login { get; set; }
		public string Senha { get; set; }
		public string Adicionado { get; set; }
		public string Celular { get; set; }
		public string Email { get; set; }
	}
	public class PageInfo
	{
		// crie as seguintes proprieades
		// "PageInfo": {
		// "pageSize": 0,
		// "totalRows": 0,
		// "isFirstPage": true,
		// "isLastPage": true,
		// "page": 0
		// }
		public int pageSize { get; set; }
		public int totalRows { get; set; }
		public bool isFirstPage { get; set; }
		public bool isLastPage { get; set; }
		public int page { get; set; }
	}

	public class Cliente
	{
		public int id { get; set; }
		public string Login { get; set; }
		public string Senha { get; set; }
		private string Adicionado { get; set; }
		//quero conveter a string Adicionado para DateTime ela está em formato ISO 8601
		public DateTime AdicionadoDate
		{
			get
			{
				return DateTime.Parse(Adicionado, null, System.Globalization.DateTimeStyles.RoundtripKind);
			}
		}
		public string Celular { get; set; }
		public string Email { get; set; }
		public Cliente(Teste teste)
		{
			id = teste.id;
			Login = teste.Login;
			Senha = teste.Senha;
			Adicionado = teste.Adicionado;
			Celular = teste.Celular;
			Email = teste.Email;

		}
	}

}
